@page
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization;
@model HotelManagementSystem.Pages.FrontEndModel;
@{
    ViewData["Title"] = "订单管理";
}

<h1>@ViewData["Title"]</h1>

<p>这里是订单管理系统。</p>

<div>@await Html.PartialAsync("BillsTable")</div>

<a class="btn btn-primary mb-4" asp-area="" asp-page="./Bills/Search">搜索订单</a>

<div>@await Html.PartialAsync("ClientsTable")</div>

<div><a class="btn btn-primary mb-4" asp-area="" asp-page="./Clients/Search">搜索顾客</a></div>

<div><a class="btn btn-primary mb-4" asp-area="" asp-page="./Bills/Create">新订单</a></div>

@if (TempData["SuccessMessage"] != null)
{
    <div id="SuccessMessage" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if ($("#SuccessMessage").length) {
            setTimeout(function () {
                $("#SuccessMessage").fadeOut("slow");
            }, 5000);
        }
    });
</script>
