@page
@attribute [Authorize(Policy = "经理或管理员或前台")]
@using Microsoft.AspNetCore.Authorization;
@model HotelManagementSystem.Pages.ClientModel
@{
    ViewData["Title"] = "创建订单 - 顾客";
    ViewData["Text"] = "请在这里填写客人信息。";
    ViewData["Submit"] = "创建";
}

<div>@await Html.PartialAsync("/Pages/FrontEnd/Clients/Clients.cshtml")</div>
