@page
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization;
@model HotelManagementSystem.Pages.ClientModel
@{
    ViewData["Title"] = "编辑顾客";
    ViewData["Text"] = "请在这里编辑客人信息。";
    ViewData["Submit"] = "编辑";
}

<div>@await Html.PartialAsync("/Pages/FrontEnd/Clients/Clients.cshtml")</div>
