@page
@model HotelManagementSystem.Pages.ClientSearchModel

<h1>搜索顾客</h1>

<p>请在这里搜索顾客。</p>

<div>
    <form method="post">
        <div class="form-group mt-3 mb-3">
            <label for="ClientName" class="control-label">姓名</label>
            <input asp-for="ClientSearchInput.ClientName" class="form-control" />
            <span asp-validation-for="ClientSearchInput.ClientName" class="text-danger"></span>
        </div>
        <div class="form-group mt-3 mb-3">
            <label for="ClientTel" class="control-label">电话</label>
            <input asp-for="ClientSearchInput.ClientTel" class="form-control" />
            <span asp-validation-for="ClientSearchInput.ClientTel" class="text-danger"></span>
        </div>
        <div class="form-group mt-3 mb-3">
            <label for="ClientTrueId" class="control-label">身份证号</label>
            <input asp-for="ClientSearchInput.ClientTrueId" class="form-control" />
            <span asp-validation-for="ClientSearchInput.ClientTrueId" class="text-danger"></span>
        </div>
        <div class="form-group mt-3 mb-3">
            <input type="submit" value="搜索" class="btn btn-primary" />
        </div>
    </form>
</div>

@if (Model.Clients?.Any() == true)
{
    <div>搜索结果：</div>
    <div>@await Html.PartialAsync("/Pages/FrontEnd/ClientsTable.cshtml")</div>
}
else if (TempData["ClientSearchFirstTime"] != null && (string)TempData["ClientSearchFirstTime"] != "Yes")
{
    <div id="NoResult" class="alert alert-danger">
        @if (TempData["ClientSearchNoInput"] == null)
        {
            <span>没有匹配的结果</span>
        }
        else
        {
            <span>请输入您需要查找的属性</span>
        }
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if ($("#NoResult").length) {
            setTimeout(function () {
                $("#NoResult").fadeOut("slow");
            }, 5000);
        }
    });
</script>