@page
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Policy = "经理或管理员")]
@model HotelManagementSystem.Pages.ClassModel
@{
    ViewData["Title"] = "创建房间类型";
    ViewData["Text"] = "请在这里创建房间类型";
    ViewData["Submit"] = "创建";
}

<div>@await Html.PartialAsync("/Pages/BackEnd/Classes/Classes.cshtml")</div>