@page
@model LoginModel

@{
    ViewData["Title"] = "登录";
}

<head>
    <style>
        body,
        html {
            height: 100vh;
            /* 视口高度 */
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        body {
            background-image: url('/images/mainpage-background.png');
            background-position: center center;
            /* 图片居中显示 */
            background-size: cover;
            /* 覆盖整个背景区域，保持图片宽高比 */
            background-attachment: fixed;
            /* 背景固定，不随滚动条滚动 */
            background-repeat: no-repeat;
        }
    </style>
</head>

<div class="row justify-content-center centered-container">
    <div class="col-md-4 text-center">
        <section>
            <form id="account" method="post">
                <div class="mb-3">
                    <h2>使用管理人员账号登录。</h2>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Number" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="name@example.com" />
                    <label asp-for="Input.Number" class="form-label">工号</label>
                    <span asp-validation-for="Input.Number" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                        aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">密码</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" /> 记住我
                    </label>
                </div>
                <div>
                    <input type="hidden" name="returnUrl" value="@TempData["ReturnUrl"]">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">登录</button>
                </div>
                <div class="m-4">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">忘记密码？</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
