@page
@model HotelManagementSystem.Pages.LogoutModel
@{
    ViewData["Title"] = "退出账号";
}
<h1>@ViewData["Title"]</h1>

<p>请在这里退出账户。</p>

<div>
    <form method="post">
        <div class="form-group mt-3 mb-3">
            <input type="submit" value="退出" class="btn btn-primary" />
        </div>
    </form>
</div>
