@page
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Policy = "经理或管理员")]
@model HotelManagementSystem.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "编辑";
    ViewData["Text"] = "为管理人员编辑账户。";
    ViewData["Submit"] = "编辑";
}

<div>@await Html.PartialAsync("/Pages/Stuff/Stuff.cshtml")</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
