@page
@attribute [Authorize(Policy = "经理或管理员或前台")]
@using Microsoft.AspNetCore.Authorization;
@model HotelManagementSystem.Pages.BillsModel
@{
    ViewBag.Title = "创建订单";
    ViewBag.Text = "这里是订单创建系统。";
    ViewBag.Submit = "创建";
}

<div>@await Html.PartialAsync("/Pages/FrontEnd/Bills/Bills.cshtml")</div>