@page
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization;
@model HotelManagementSystem.Pages.BillsModel
@{
    ViewBag.Title = "编辑订单";
    ViewBag.Text = "这里是订单编辑系统。";
    ViewBag.Submit = "编辑";
}

<div>@await Html.PartialAsync("/Pages/FrontEnd/Bills/Bills.cshtml")</div>
