@page
@model HotelManagementSystem.Pages.FrontEndModel;
@{
    ViewData["Title"] = "订单管理";
}
<h1>@ViewData["Title"]</h1>

<p>这里是订单管理系统。</p>

<div>@await Html.PartialAsync("Tables/BillsTable")</div>

<div>@await Html.PartialAsync("Tables/ClientsTable")</div>

@if (TempData["SuccessMessage"] != null)
{
    <div id="SuccessMessage" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if ($("#SuccessMessage").length) {
            setTimeout(function () {
                $("#SuccessMessage").fadeOut("slow");
            }, 5000);
        }
    });
</script>