@page
@model HotelManagementSystem.Pages.IndexModel
@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <h1 class="display-4">欢迎使用UESTC酒店管理系统</h1>
    <p>访问<a href="https://www.uestc.edu.cn/">电子科技大学官网</a>以获取更多信息。</p>
</div>
